.renann{
    height: 100vh;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to top,#FFFFFF, #FAF9DC,#ffe400);
}

/* Personalização das Letras de Finalização*/

.renann .apresentacao-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}