*{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

@media screen and (max-width:850px) {
  .acess{
    flex-direction: column;
  }
}

@media screen and (max-width:640px){
  .icon{
    display: block;
  }

  .menu nav{
    display: none;
  }

  .acess{
    display: none;
  }

  .search{
    flex-direction: column;
  }

  #rodape{
    flex-direction: column;
  }
}